.content {
	max-width: 900px;
	margin: 0 auto;
	width: 100%;
}

.content1 { 
	max-width: 1100px; 
	padding-right: 20px;
	padding-left: 20px;
	margin: 0 auto;
	width: 100%;
	overflow: auto;
}

/* Navbar Styles */
nav {
	height: 4rem;
	width: 100%;
	position: fixed;
	top: 0;
	background-color: #f5f5f5;
	z-index: 2;
}
nav ul {
	height: 4rem;
	margin: 0;
	padding: 0;
	display: inline-block;;
	font-size: 0;
	list-style: none;
}
nav ul li {
	font-size: 1rem;
	padding: 0;
	display: inline-block;
}
nav ul li p {
	height: 2rem;
	line-height: 2rem;
	margin: 0;
	padding: 1rem 1rem;
}
nav ul li:hover {
	cursor: pointer;
	background-color: #eee;
}
nav ul li.action-item {
	color: white;
	background-color: #0fa8f7;
}
nav ul li.action-item:hover {
	color: white;
	background-color: #00b0ff;
}
nav ul.right { float:right; }

.navbar-wrapper {
	height: 4rem;
}


/* Jumbotron */
.jumbotron {
	position: relative;
	overflow: hidden;
	height: 100%;
	max-height: 780px;
}

.vignette {
	background: radial-gradient(transparent, rgba(0,0,0,0.6));
	bottom: 0px;
	height: 100%;
	max-height: 800px;
	width: 100%;
	position: absolute;
	z-index: 0;
}

.jumbotron-image {
	top: -120px;
	bottom: 20px;
	width: 100%;
	background-image: url('../images/fullboard.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	position: absolute;
	z-index: -1;
}

.jumbotron h2 {
	position: relative;
	text-align: center;
	color: white;
	padding-top: 145px;
	z-index: 1;
	font-size: 80px;
}

.jumbotron h1 {
	position: relative;
	text-align: center;
	color: white;
	z-index: 1;
	margin-top: -20px;
	margin-bottom: 3rem;
	font-size: 50px;
}

/* other jumbotrons */
.board-jumbotron {
	position: relative;
	overflow: hidden;
	height: 65%;
	max-height: 700px;
}

.board-image {
	top: 0px;
	bottom: -10px;
	background-image: url('../images/boardpolaroid.jpg');
}

.contact-image {
	top: 0px;
	bottom: 0px;
	background-image: url('../images/statue_bw.jpg');
}

.board-jumbotron h2 {
	position: relative;
	text-align: center;
	color: white;
	padding-top: 145px;
	z-index: 1;
	font-size: 60px;
}

/* Equal height columns */
#container3 {
    float: left;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

#container2 {
    float: left;
    width: 100%;
    height: 100%;
    position: relative;
    right: 33%;
}

#container1 {
    float: left;
    width: 100%;
    height: 100%;
    position: relative;
    right: 33%;
}

#col1 {
	float: left;
	width: 29%;
	position: relative;
	overflow: hidden;
	text-align: center;
	height: 500px;
	margin-left: 1%;
}

#col2 {
	float: left;
	width: 29%;
	position: relative;
	overflow: hidden;
	text-align: center;
	height: 500px;
	margin-left: 5.5%;
	margin-right: 5.5%;
}

#col3 {
	float: left;
	width: 29%;
	position: relative;
	overflow: hidden;
	height: 500px;
	text-align: center;
	margin-right: 1%;
}

#col-1 {
	float: left;
	width: 29%;
	position: relative;
	overflow: hidden;
	text-align: center;
	height: 380px;
}

#col-2 {
	float: left;
	width: 29%;
	position: relative;
	overflow: hidden;
	text-align: center;
	height: 380px;
	margin-left: 6.5%;
	margin-right: 6.5%;
}

#col-3 {
	float: right;
	width: 29%;
	position: relative;
	overflow: hidden;
	height: 380px;
	text-align: center;
}

/* extra styling */
#learn-more h1, #events h1 { font-size: 30px; }

#learn-more { padding-bottom: 0px; }

#board {
	padding-top: 85px;
	padding-bottom: 0px;
}

.name { 
	font-size: 20px; 
	text-align: center;
}

.position { 
	font-size: 16px;
	font-weight: bold; 
	text-align: center;
}

#board h4 { 
	font-size: 15px; 
	font-weight: 400px;
	text-align: center;
	font-weight: 300;
}

#board p {
	font-size: 12.5px;
	text-align: justify;
	font-weight: 400;
}

#committees {
	padding-top: 60px;
	padding-bottom: 60px;
}

#committees p { text-align: justify; }

#committees h1, #heading { font-size: 30px; }

#col h2 { text-align: center; }

#learn-more p { 
	text-align: left; 
	font-size: 14px;
}


/* Footer */
footer {
	margin-top: 2rem;
	padding: 1rem;
	background-color: #5a5a5a;
	color: white;
}
footer p {
	color: #dddddd;
	font-size: 0.9rem;
	display: inline-block;
}
footer p.right { float: right; }